
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width" />
    <title>DataError</title>
</head>
<body>
    <hgroup>

        <h1>@ViewBag.ErroMessage</h1>

    </hgroup>
    <div>
      <button class="btn btn-sm btn-default active center-align btn-danger">Back to Home</button>
    </div>
</body>
</html>
