
<div class="modal-content info">
    <div class="row">
        <hgroup>

            <h1>@ViewBag.ErroMessage</h1>
        </hgroup>
    </div>
   
    <div class="row col-md-offset-9">
        <button class="btn btn-sm btn-default active center-align">Back to Home</button>
    </div>
</div>